{{/* OpenShift DaemonSet Privileged SCC */}}
{{- $usePrivilegedSA := true -}}
{{- if hasKey .Values "openshift" -}}
  {{- if hasKey .Values.openshift "daemonset" -}}
    {{- if hasKey .Values.openshift.daemonset "usePrivilegedServiceAccount" -}}
      {{- $usePrivilegedSA = .Values.openshift.daemonset.usePrivilegedServiceAccount -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if and (eq (include "instana-otel-collector.isOpenShift" .) "true") $usePrivilegedSA -}}
{{- $sccName := printf "%s-collector-scc" .Values.instana.daemonset.name -}}
{{- if (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: {{ $sccName }}
  annotations:
    kubernetes.io/description: "Privileged SCC for Instana OpenTelemetry Collector DaemonSet"
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegeEscalation: true
allowPrivilegedContainer: true
allowedCapabilities:
- '*'
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
groups:
- system:cluster-admins
priority: 10
readOnlyRootFilesystem: false
requiredDropCapabilities: null
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
- '*'
supplementalGroups:
  type: RunAsAny
volumes:
- '*'
users:
- system:serviceaccount:{{ .Release.Namespace }}:{{ .Values.instana.daemonset.name | default "idot-daemonset" }}-collector
{{- end -}}
{{- end -}}
