{{/* OpenShift OpenTelemetry Operator Restricted SCC */}}
{{- if eq (include "instana-otel-collector.isOpenShift" .) "true" -}}
{{- $sccName := printf "%s-scc" "instana-otel-operator" -}}
{{- if (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: {{ $sccName }}
  annotations:
    kubernetes.io/description: "Restricted SCC for Instana OpenTelemetry Operator"
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegeEscalation: true
allowPrivilegedContainer: true
allowedCapabilities:
- '*'
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
groups:
- system:cluster-admins
priority: 10
readOnlyRootFilesystem: false
requiredDropCapabilities: null
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
- '*'
supplementalGroups:
  type: RunAsAny
volumes:
- '*'
users:
- system:serviceaccount:{{ .Release.Namespace }}:opentelemetry-operator
{{- end -}}
{{- end -}}
